{sys, [
       {lib_dirs, ["../..", "../lib", "../plugins"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "nextim", "4.0",
        [
         kernel,
         stdlib,
         sasl,
		 public_key,
		 syntax_tools,
		 ssl,
		 crypto,
         mnesia,
		 xmerl,
		 inets,
		 lager,
		 compiler,
		 {folsom, load},
         mochiweb, 
         nextim
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "nextim"},
       {profile, embedded},
       {incl_cond, exclude},
       %{mod_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, kernel, [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, syntax_tools, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, folsom, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, mochiweb, [{incl_cond, include}]},
       {app, nextim, [{mod_cond, app}, {incl_cond, include}]}
      ]}.

{target_dir, "nextim"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/"},
           {mkdir, "etc/"},
           {mkdir, "var/data/"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {template, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/nextim", "bin/nextim"},
           {template, "files/nextim_ctl", "bin/nextim_ctl"},
           {template, "files/nextim.cmd", "bin/nextim.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"}
          ]}.
